/* IMPORTED STYLES */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

*,
*:before,
*:after {
  border-box: padding-box;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 300px) {
  body {
    font-size: 20px;
  }
  .title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  ul {
    width: 300px;
    margin: 0 auto 0 auto;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  body {
    font-size: 20px;
  }
  .title {
    font-size: 50px;
    margin-bottom: 40px;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }
  .title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }
  .title {
    font-size: 80px;
    margin-bottom: 40px;
  }
  ul {
    width: 340px;
    margin: 0 auto 0 auto;
  }
}

/* GLOBAL STYLES */
html, body {
  background-color: #2ae8db;
  color: white;
  display: block;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}

.wrapper {
  margin: 60px auto 60px auto;
  text-align: center;
  min-width: 360px;
  max-width: 960px;
}

.login-screen {
  line-height: 2.2em;
}

/* DROPDOWN MENU */
#dropdown-menu {
  left: 0;
  margin: 15px 0 0 15px;
  position: fixed;
  top: 0;
}

#dropdown-menu:hover {
  color: steelblue;
  cursor: pointer;
}

/* LOGOUT */
.logout {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
}

.logout:hover {
  color: steelblue;
  cursor: pointer;
}

/* FORMS */
.new-game {
  margin-bottom: 20px;
}

/* FORM INPUTS */
input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: steelblue;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  text-decoration: none;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

#login-email {
  margin-left: 10px;
}

#login-email-label {
  margin-left: 38px;
  margin-right: 5px;
}

/* LINKS */
a {
  color: steelblue;
  cursor: pointer;
  padding-bottom: 4px;
}

a:hover {
  color: white;
  text-decoration: none;
}

#login-buttons-password,
#login-buttons-open-change-password,
#login-buttons-logout {
  cursor: pointer;
}

/* LISTS */
ul, li {
  text-align: left;
}

li,
a {
  margin-bottom: 20px;
  margin-top: 10px;
}

.remove {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 10px;
}

.remove:hover {
  color: steelblue;
}

.check {
  margin-left: 10px;
}

/* FOOTER */
.footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #2ae8db;
  padding-top: 5px;
}

button {
  background: none;
  border: 1px solid white;
  color: white;
  height: 60px;
  width: 48%;
  margin-bottom: 5px;
}

button:hover {
  border: 1px solid steelblue;
  color: steelblue;
}

button:focus {
  outline: none;
}

/* SEARCH AUTOCOMPLETE */
.-autocomplete-list li {
  border: none !important;
  background-color: none !important;
  background: none !important;
  font-size: 10px !important;
}

.-autocomplete-list li:hover {
  border: none !important;
  border-left: 5px solid red !important;
  background-color: none !important;
  background: none !important;
}

.-autocomplete-container {
  background: none;
  border: none !important;
  box-shadow: none;
  right: 40;
  text-decoration: none;
}

.search-entry {
  background: none !important;
  border-bottom: none !important;
  color: white;
}

.-autocomplete-container:hover {
  cursor: pointer !important;
  background-color: none !important;
  background: none !important;
  text-decoration: none !important;
  font-style: none !important;
}

/* CAMERA */
.camera-popup {
  background: none;
  box-shadow: none;
  font-family: Lato;
  font-weight: 400;
  opacity: .75;
}

.cancel, .button {
  background: none !important;
  border: 2px solid white !important;
  border-radius: 0px !important;
  height: 100%;
  width: 100%;
}

.cancel:hover, .button:hover {
  border: 2px solid orange !important;
  color: orange;
}

.photo-preview {
  margin-bottom: 10px;
}

/* PHOTOS */
.block {
  margin-bottom: 40px;
}

.full-width {
  width: 100%;
  max-width: 700px;
}

.eventPhotos {
  margin-bottom: 100px;
}

/* VOTING */
.upvote {
  margin-right: 5px;
}

.upvote:hover,
.downvote:hover {
  cursor: pointer;
  color: steelblue;
}

.vote-block {
  margin-top: 10px;
}

.vote-count {
  font-size: 16px;
}