/* IMPORTED STYLES */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /*  -webkit-user-select: none;*/
  -moz-user-select: none;
  user-select: none;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 300px) {
  body {
    font-size: 20px;
  }
  .title {
    font-size: 45px;
    margin-bottom: 40px;
  }
  ul {
    width: 280px;
    margin: 0 auto;
  }
  .logo {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  #login-username-label,
  #login-password-label,
  #login-password-again-label {
    font-size: 16px;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  body {
    font-size: 20px;
  }
  .title {
    font-size: 45px;
    margin-bottom: 40px;
  }
  ul {
    width: 280px;
    margin: 0 auto;
  }
  .logo {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }
  .title {
    font-size: 55px;
    margin-bottom: 40px;
  }
  ul {
    width: 340px;
    margin: 0 auto;
  }
  .logo {
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #login-username-label,
  #login-password-label {
    font-size: 20px;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }
  .title {
    font-size: 70px;
    margin-bottom: 40px;
  }
  ul {
    width: 340px;
    margin: 0 auto 0 auto;
  }
  .logo {
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #login-username-label,
  #login-password-label {
    font-size: 20px;
  }
}

/* GLOBAL STYLES */
html, body {
  background-color: #2ae8db;
  color: white;
  display: block;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}

.wrapper {
  margin: 75px auto 60px auto;
  text-align: center;
  min-width: 300px;
  max-width: 960px;
}

.big {
  margin-bottom: 30px;
}

/* LOGIN */
.login-screen {
  line-height: 2.2em;
}

#login-username-label-and-input {
  margin-top: 20px;
}

#login-password-label-and-input {
  margin-bottom: 20px;
}

/* DROPDOWN MENU */
#dropdown-menu {
  left: 0;
  margin: 15px 0 0 15px;
  position: fixed;
  top: 0;
  z-index: 10;
}

#dropdown-menu:hover {
  color: steelblue;
  cursor: pointer;
}

/* FORMS */
.new-game {
  margin-bottom: 20px;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: steelblue;
  margin-left: 10px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-decoration: none;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

#login-email {
  margin-left: 10px;
}

#login-email-label {
  margin-left: 38px;
  margin-right: 5px;
}

/* LINKS */
a {
  color: steelblue;
  cursor: pointer;
}

a:hover {
  color: white;
  text-decoration: none;
}

#login-buttons-password,
#login-buttons-open-change-password,
#login-buttons-logout {
  cursor: pointer;
}

/* LISTS */
ul {
  text-align: left;
}

li,
a {
  margin-bottom: 20px;
  margin-top: 10px;
}

.remove {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 10px;
}

.remove:hover {
  color: steelblue;
}

.check {
  margin-left: 10px;
}

/* FOOTER */
.footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #2ae8db;
  padding-top: 5px;
}

button {
  background: none;
  border: 2px solid white;
  color: white;
  font-weight: 400;
  height: 60px;
  width: 48%;
  margin-bottom: 5px;
}

button:hover {
  border: 2px solid steelblue;
  color: steelblue;
}

button:focus {
  outline: none;
}

/* SEARCH AUTOCOMPLETE */
.-autocomplete-container {
  background: none;
  border: none;
  box-shadow: none;
}

.-autocomplete-container:hover {
  cursor: pointer;
}

.-autocomplete-list {
  font-size: 5px;
  margin-top: 30px;
  max-height: 400px;
  overflow: auto;
}

.-autocomplete-list li {
  border: none;
}

.-autocomplete-item {
  margin: 0;
  margin-bottom: 15px;
}

.-autocomplete-item h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1.4em;
}

em {
  opacity: 0.85;
}

/* CAMERA */
.camera-popup {
  background: none;
  box-shadow: none;
  font-family: Lato;
  font-weight: 400;
  opacity: .75;
}

.cancel, .button {
  background: none !important;
  border: 2px solid white !important;
  border-radius: 0px !important;
  height: 100%;
  width: 100%;
}

.cancel:hover, .button:hover {
  border: 2px solid orange !important;
  color: orange;
}

.photo-preview {
  margin-bottom: 10px;
}

/* PHOTOS */
.block {
  margin-bottom: 40px;
}

.full-width {
  width: 100%;
  max-width: 700px;
}

.eventPhotos {
  margin-bottom: 100px;
}

/* VOTING */
.upvote {
  margin-right: 5px;
}

.upvote:hover,
.downvote:hover {
  cursor: pointer;
  color: steelblue;
}

.vote-block {
  margin-top: 10px;
}

.vote-count {
  font-size: 16px;
}

/* USER */
.user {
  position: relative;
  border: 5px solid white;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  margin: 0 auto 25px auto;
}

.user-icon {
  font-size: 75px;
  margin-top: 12px;
}