<template name="game">
  <div class="go-back glyphicon glyphicon-chevron-left"></div>
  <div class="logout glyphicon glyphicon-remove"></div>
  
  <h1 class="title">
    {{newGame.gameName}}
  </h1>

  <ul>
    {{#each events}}
      {{> gameEvent}}
    {{/each}}
  </ul>

  <div class="footer">
    <button class="navigate-photos">Photos</button>
    <button class="navigate-events">Events</button>
  </div>
</template>

<template name='gameEvent'>
  <a style="display: block" class="event-name">
    {{name}}
  </a>
</template>