<template name="photos">
  <div class="go-back glyphicon glyphicon-chevron-left"></div>
  <div class="logout glyphicon glyphicon-remove"></div>

  <h1 class="title">
    {{gameName.gameName}}
  </h1>

  <ul class="eventPhotos">
    {{#each photos.featList}}
      {{> featPhoto}}
    {{/each}}
  </ul>

  <div class="footer">
    <button class="navigate-photos">Photos</button>
    <button class="navigate-events">Events</button>
  </div>
</template>

<template name="featPhoto">
  <h3>{{this.name}}</h3>
  <li class="featPhoto">
    {{#each this.completedBy}}
      {{> snapshots}}
    {{/each}}
    </li>
</template>

<template name="snapshots">
  <div>
    <a href="#">
      <img src="{{photoURL}}" alt="image">      
    </a>
  </div>
</template>