<template name="photos">
  <div class="go-back glyphicon glyphicon-chevron-left"></div>
  <div class="logout glyphicon glyphicon-remove"></div>

  <h1 class="title">
    {{gameName.gameName}}
  </h1>

  <div class="eventPhotos">
    {{#each photos.featList}}
      {{> featPhoto}}
    {{/each}}
  </div>

  <div class="footer">
    <button class="navigate-photos">Photos</button>
    <button class="navigate-events">Events</button>
  </div>
</template>

<template name="featPhoto">
  <h3 class="feat-name">{{this.name}}</h3>
  <div class="featPhoto">
    {{#each this.completedBy}}
      {{> snapshots}}
    {{/each}}
  </div>
</template>

<template name="snapshots">
  <div class="block">
    <p class="vote-count">Votes: {{voteCount}}</p>
    <div class="image-block">
      <img class="full-width" src="{{photoURL}}" alt="image">
    </div>
    <div class="vote-block">
      <div class="upvote glyphicon glyphicon-plus"></div>
      <div class="downvote glyphicon glyphicon-minus"></div>
    </div>
  </div>
</template>