<template name="photos">
  <div class="go-back glyphicon glyphicon-chevron-left"></div>
  <div class="logout glyphicon glyphicon-remove"></div>

  <h1 class="title">
    {{newGame.gameName}}
  </h1>

  <ul class="eventPhotos">
    {{#each photos}}
      {{> featPhoto}}
    {{/each}}
  </ul>

  <div class="footer">
    <button class="navigate-photos">Photos</button>
    <button class="navigate-events">Events</button>
  </div>
</template>

<template name="featPhoto">
  <li class="featPhoto">{{this.image}}</li>
</template>